<!DOCTYPE html>
{% extends "base.html" %}
{% block log_in_content %}
<div class="content">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="{{ form.subject.id_for_label }}">Username:</label>
    {{ form.username }}
</div>
<div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="{{ form.message.id_for_label }}">Password:</label>
    {{ form.password }}
</div>

  <button type="submit">Sign In</button>
  </form>
</div>

{% endblock %}
