
/* Full-width input fields */
input[type=text], input[type=password] ,input[type=email],#id_portfolio_site {
    width: 60%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: block;
    border: 1px solid #4CAF50;
    background: #f1f1f1;
}

/* Set a style for all buttons */
#submit_form{
  margin-bottom: 60px;
}



/* Add padding to container elements */
.content {
    padding: 16px;
    width: 50%;

}
