
/* Full-width input fields */
input[type=text], input[type=password] ,input[type=email] {
    width: 60%;
    padding: 8px;
    margin: 5px 0 22px 0;
    display: block;
    border: 1px solid #4CAF50;
    background: #f1f1f1;
}
label{

}
/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}

/* Add padding to container elements */
.content {
    padding: 16px;
    width: 50%;

}
