<!DOCTYPE html>
{% extends "base.html" %}
{% block sign_up_content %}
<div class="content">
  <form class="" action="" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="{{ form.subject.id_for_label }}">username:</label>
    {{ form.username }}
</div>
<div class="fieldWrapper">
    {{ form.email.errors }}
    <label for="{{ form.message.id_for_label }}">email:</label>
    {{ form.email }}
</div>
<div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="{{ form.sender.id_for_label }}">password:</label>
    {{ form.password }}
</div>
<div class="fieldWrapper">
    {{ form.re_password.errors }}
    <label for="{{ form.cc_myself.id_for_label }}">re_password:</label>
    {{ form.re_password }}
</div>

  <button type="submit">Sign up</button>
  </form>
</div>
{% endblock %}
